openai_key.txt
Coca-Cola Original_with label.xlsx
CocaCola_Reviews_with_Categories_v2.xlsx
CocaCola_Reviews_with_Categories.xlsx
Raw.xlsx
Counts_by_Year.xlsx
Price_and_size.xlsx
Complete_with_Categories.xlsx